<!DOCTYPE html>
<html >

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.js"></script>
    <script src="../bower_components/ng-messages/angular-messages.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="formApp">
    <form name="vitals_form" novalidate ng-submit"saveVitals()" ng-controller="formController">
      <label>Temperature</label>
        <input type="number" placeholder="Temperature" name="temperature" ng-model="vitals.temperature" ng-minlength=10 ng-maxlength=50 required>
      </input>
      <div class="error"
          ng-messages="vitals_form.temperature.$error">
          <div ng-message="required">
          Please enter the patient's temperature
          </div>
          <div ng-message="minlength">
          Is the patient really that cold?
          </div>
          <div ng-message="maxlength">
          Is the patient really that hot?
          </div>
      </div>

      <label>Systolic Blood Pressure</label>
       <input type="number" placeholder="Systole" name="systole" ng-model="vitals.systole" ng-minlength=10 ng-maxlength=200 required>
      </input>

      <div class="error"
          ng-messages="vitals_form.temperature.$error">
          <div ng-message="required">
          Please enter the patient's temperature
          </div>
          <div ng-message="minlength">
          Is the patient's pressure really that low?
          </div>
          <div ng-message="maxlength">
          Is the patient's pressure really that low?
          </div>
      </div>

      <label>Diastolic Blood Pressure</label>
       <input type="number" placeholder="Diastole" name="systole" ng-model="vitals.diastole" ng-minlength=10 ng-maxlength=200 required>
      </input>

      <div class="error"
          ng-messages="vitals_form.temperature.$error">
          <div ng-message="required">
          Please enter the patient's temperature
          </div>
          <div ng-message="minlength">
          Is the patient's pressure really that low?
          </div>
          <div ng-message="maxlength">
          Is the patient's pressure really that low?
          </div>
      </div>

      <button type="submit" >Submit</button>

    </form>
  </body>

</html>