.box{
	width:300px;
	height: 100px;
	border-style: solid;
	background-color: #000;
	color: #FFF;
	margin-top: 250px;
	margin-left: 300px;
	transform: rotateX(-40px);
	transform: rotateY(-40px);
	transform: rotateZ(40px);
}

.child{
	width:300px;
	height: 100px;
	color: #000;
	border-style: solid;
	background-color: #fff;
}