.box{
	width:500px;
	height: 150px;
	border-style: solid;
	background-color: #000;
	color: #FFF;
	margin-top: 250px;
	margin-left: 300px;
	transform: rotateX(-40px);
	transform: rotateY(-40px);
	transform: rotateZ(40px);
	/*-webkit-transform: perspective(1000px) rotate3d(1,0,1,30deg);*/
}

.child{
	width:300px;
	height: 100px;
	color: #000;
	border-style: solid;
	background-color: #fff;
	-webkit-transform: rotate3d(2,2,3,30deg);
}

.box-1{
	width: 200px;
	height: 100px;
	background-color: #008f8a;
	-webkit-transform: translate3d(20deg, 20deg, 25deg)
}

.box-2{
	margin-top: 20px;
	width: 200px;
	height: 100px;
	background-color: #ff8f8a;
	transform: translate3d(40px, 40px, 270px);
	backface-visibility: hidden;

}