button{
	width: 200px;
	height: 50px;
	background-color: #00bf8f;
}

.box-1{
	width:200px;
	height:100px;
	background-color: #00bf8f;
	float: left;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 2s;
}

button:active{
	background-color: #0Fbf8f;
}

.box-2{
	width:200px;
	height:100px;
	background-color: #00bf8f;
	float: left;
}


