body{
	font-size: calc(10px + 10px);
}

p{
	font-size: 1.5em;
}

ol li{
	font-size: 2.0em;
	margin-left: 10px;
}

ul li{
	font-size: 2.0rem;
	margin-left: 10px;
}

.image{
	border: 1px solid;
	-webkit-fit-content: max-content;
	height: auto;
	width: 50vw;
	height: 50vh;
}