p{
	background-color: Background;
	color: ButtonHighlight;
	white-space: pre-wrap;
}

body{
	outline: dashed;
	outline-color: #0083ca;
}

h1 {
	position: relative;
 	top: 0; 
 	right: 0; 
 	font-size: 180%;
 	pause-after: 2s;
 	pause-before: 2s;
 	page-break-before: always;
 }

 h1:first-letter {font-size: 166%;}

@media print{
	body {font-family: serif; font-size: 14pt; background-color: white; color: #000;}
	p {page-break-inside: avoid; widows: 5; orphans: 5}
	h1 {position: relative; top: 0; right: 0; font-size: 180%;}

}

