p{
	text-indent: 4em;
	text-align: justify;
	line-height: 1.5;
	word-spacing: normal;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	text-shadow: green 1px 0.01em;
	white-space: normal;
}

span{
	vertical-align: super;
}

.subscript{
	vertical-align: sub;
}