<ion-view view-title="My Food App">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Fruit</div>
      <div class="item item-body">
        <div>
          Fruits like oranges are awesome 
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mboga</div>
      <div class="item item-body">
        <div>
          Vegetables like spinach are dope
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Protini</div>
      <div class="item item-body">
        <div>
          Don't get me started with meat
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
